@model Pegazeus.Models.FormModel;

@{
    ViewData["Title"] = "Pegazeus";
}

<h1>Become a Member</h1>

<h4>Sign Up</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <fieldset id="custInfo">
                <legend>
                    Customer Information
                </legend>
                <input name="FirstName" id="FirstName" />
                First Name
                <input name="LastName" id="LastName" />
                Last Name
                <input name="Address" id="Address" />
                Address
                <input name="City" id="City" />
                City
                <input name="State" id="State" />
                State
                <input name="Zip" id="Zip" />
                Postal Code
                <input name="Email" id="Email" />
                E-mail Address
            </fieldset>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
